* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background: url('') no-repeat center center fixed; 
    background-size: cover;
    color: #333;
    line-height: 1.6;
    transition: background-color 0.3s, color 0.3s;
}

header {
    background: rgba(255, 101, 55, 0.8); 
    padding: 20px;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
}

header h1 {
    font-size: 2.5rem;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

nav ul {
    list-style: none;
    display: flex;
}

nav ul li {
    margin-left: 30px;
}

nav ul li a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s, transform 0.3s;
}

nav ul li a:hover {
    color: #f39e3d;
    transform: scale(1.1);
}

#banner {
    text-align: center;
    margin: 20px 0;
}

#banner img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

#galeria, #episodios, #contato {
    padding: 20px;
    margin: 20px auto;
    background: rgba(255, 255, 255, 0.9);
    border-radius: 15px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    max-width: 800px;
    position: relative;
}

h2 {
    margin-bottom: 15px;
    color: #ff7146;
    text-align: center;
    position: relative;
}

.personagem, .episodio {
    display: inline-block;
    width: calc(33% - 20px);
    margin: 10px;
    text-align: center;
    border: 1px solid #f39e3d;
    border-radius: 10px;
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
    background-color: rgb(241, 146, 36);
    position: relative;
}

.personagem img, .episodio img {
    width: 100%;
    border-bottom: 1px solid #ff6a3c;
}

.personagem:hover, .episodio:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3);
}

.modal {
    display: none;
    position: fixed;
    z-index: 1001;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    padding-top: 60px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.close {
    color: #ff5722;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #e64a19;
    text-decoration: none;
    cursor: pointer;
}

#contato form {
    display: flex;
    flex-direction: column;
}

#contato label {
    margin-bottom: 5px;
}

#contato input, #contato textarea {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid   